@import '../styles/colors.css';

.breadcrumb {
  padding: 15px 0;
  background: var(--color-bg-secondary);
  font-size: 14px;
  margin-bottom: 30px;
}

.breadcrumb a {
  color: var(--color-text-secondary);
  text-decoration: none;
}

.breadcrumb span {
  color: var(--color-text-primary);
}